.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 32px;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;

    &__social {
        display: flex;
        align-items: center;
        font-family: $font_Quaternary;
        font-size: 36px;
        line-height: 1;
    }

    &__nav {
        padding-left: 35px;
    }

    span {
        vertical-align: middle;
    }

    a {
        color: $color_Text_Secondary;
    }


    @include media-breakpoint-down(sm){
        padding-top: 20px;
        padding-bottom: 30px;
    }

    @include media-breakpoint-down(xs){
        font-size: 12px;
        flex-wrap: wrap;
        padding-bottom: 14px;

        &__social {
            flex: 1 100%;
            font-size: 18px;
            margin-bottom: 18px;
        }
    }

}