$nav-circle-outer-radius: 7px;
$nav-circle-inner-radius: 3px;
$nav-circle-line-length: 36px;

.nav-circles {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 350px;
    max-height: 475px;
    padding: 20px 0;

    &__item {
        display: block;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 20px;
        font-family: $font_Primary;
        white-space: nowrap;

        /*positioning the line*/

        &:not(:last-of-type):after,
        &:not(:first-of-type):before {
            content: '';
            position: absolute;
            background: $color_White;
            opacity: 0.5;
            height: 100%;
            width: 1px;
            left: 50%;
            right: 0;
            z-index: -1;
            transform: translateX(-50%);
        }

        &:not(:first-of-type):before{
            content: none;
        }

        &:first-of-type {
            margin-top: 0;
        }

        a {
            display: block;
            position: relative;

            left: 50%;
            transform: translateX(-50%);

            @include size(0);

            text-decoration: none;
            color: #000;
            text-align: left;

            &:before, &:after {
                @include transition(transform .2s ease-in-out);
            }

            /*positon the circles*/
            &:before{
                content:'';
                position: absolute;
                z-index: -1;
                @include size(2 * $nav-circle-inner-radius);
                top: $nav-circle-outer-radius - $nav-circle-inner-radius;
                margin-left: -$nav-circle-inner-radius;
                border-radius: 100%;
                background: $color_White;
                border: 1px solid $color_White;
            }

            &:after{
                content:'';
                position: absolute;
                z-index: -1;
                @include size(2 * $nav-circle-outer-radius);
                top: 0;
                left: 0;
                margin-left: -$nav-circle-outer-radius;
                border-radius: 100%;
                border: 2px solid $color_White;
            }

            &:focus {
                &:before, &:after {
                    border-color: $color_Text_Secondary;
                }
                &:before {
                    background: $color_Text_Secondary;
                }
                span {
                    color: $color_Secondary;
                }
            }
        }

        span {
            position: relative;
            font-size: 18px;
            top: -2*($nav-circle-outer-radius);
            margin-left: 20px;
            color: $color_Text;
            white-space: nowrap;
            @include transition(font-size .2s ease-in-out);
        }

        &_active{
            a:before, a:after {
                border-color: $color_Text_Secondary;
                transform: scale(1.4)
            }

            a:before {
                background: $color_Text_Secondary;
            }

            span {
                font-size: 36px;
                color: $color_Text_Secondary;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: row;
        min-height: unset;

        &__item {
            width: auto;
            margin: 0;
            flex: 1 1 auto;
            white-space: normal;
            padding: 0 16px;

            /*positioning the line*/
            &:not(:last-of-type):after,
            &:not(:first-of-type):before {
                height: 1px;
                width: auto;
                top: $nav-circle-outer-radius;
                transform: none;
            }

            &:not(:first-of-type):before {
                content: '';
                left: 0;
                right: 50%;
                margin-right: $nav-circle-inner-radius;
            }

            &:not(:first-of-type):after {
                right: 0;
                left: 50%;
                margin-left: $nav-circle-inner-radius;
            }

            &:first-of-type{
                padding-left: 0;
                &:after {
                    left: 0;
                    right: 0;
                    margin-left: $nav-circle-outer-radius;
                }

                a {
                    text-align: left;
                    &:before, &:after {
                        left: 0;
                    }

                    &:after {
                        margin-left: $nav-circle-inner-radius
                    }

                    &:before {
                        margin-left: $nav-circle-outer-radius;
                    }
                }
            }

            &:last-of-type{
                padding-right: 0;
                &:before {
                    left: 0;
                    right: 0;
                    margin-right: $nav-circle-outer-radius;
                }

                a {
                    text-align: right;
                    &:before, &:after {
                        left: unset;
                        right: 0;
                    }

                    &:after {
                        margin-right: $nav-circle-inner-radius
                    }

                    &:before {
                        margin-right: $nav-circle-outer-radius;
                    }
                }
            }

            a {
                display: block;
                position: relative;
                text-align: center;
                width: auto;
                height: auto;
                text-decoration: none;
                color: #000;

                /*positon the circles*/
                &:before {
                    left: 50%;
                    margin-left: -$nav-circle-inner-radius;
                }

                &:after {
                    left: 50%;
                    margin-left: -$nav-circle-outer-radius;
                }
            }

            span {
                top: 20px;
                margin: 0;
            }

            &_active {
                span {
                    top: 24px;
                }
            }
        }
        &:after, &:before{
            content: '';
            flex: 0 0 20px;
        }
    }

    @include media-breakpoint-down(xs) {
        @include transition(transform 1s);

        &__item {
            flex: 1 0 50%;
            span {
                font-size: 12px;
            }

            &_active {
                span {
                    font-size: 18px;
                }
            }

            &:first-of-type{
                flex: 1 0 25%;
            }
            &:last-of-type{
                flex: 1 0 25%;
            }
        }

    }
}