.nav {
    display: flex;
    align-items: center;
    font-size: 0;
    margin: 0;

    &__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 35px 0 0;
        font-size: $font_Size;

        &:before {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        &__item {
            margin: 0 20px 0 0;
        }
    }
}