.page-header {
    flex: 0 0 auto;
    height: $line_grid*5;
    background-color: $color_Primary;
    color: $color_Text_Secondary;
    @include z-index(header);

    @include media-breakpoint-down(sm) {
        height: $line_grid*3;
    }
}