$z-index: (
    modal         : 30,
    header        : 20,
    sidebar       : 15,
    fullpage      : 10,
    default       : 1,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}

/********

@include z-index(default);

*********/