.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $line_grid * 3;
    background: $color_Secondary;
    border: none;
    border-radius: 3px;
    font-family: $font_Primary;
    font-size: 24px;
    line-height: 30px;
    color: $color_Black;
    padding: 12px 38px 12px 38px;
    text-align: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    span {
        vertical-align: middle;
    }

    &:not([disabled]):hover {
        color: $color_Black;
    }

    &:not([disabled]):focus {
        color: $color_Black;

        &:hover {
            color: $color_Black;
        }
    }

    &:disabled {
        &:hover {
            cursor: not-allowed;
        }
    }

    &__text {
        padding: 0 18px;
        white-space: nowrap;
        overflow: hidden;
    }

    &__icon {
        margin: 0 6px;
    }

    //Until I guess better solution
    .icon-cross {
        margin: 0 11px;
    }

    &_dark {
        background: $color_Tertiary;
        color: $color_Text_Secondary;
        @include transition(background-color 0.2s ease-in-out);

        &:not([disabled]):hover {
            background: $color_Brown_light;
            color: $color_Text_Secondary;
        }

        &:not([disabled]):focus {
            color: $color_Text_Secondary;

            &:hover {
                color: $color_Text_Secondary;
            }
        }
    }

    &_tight {
        padding: 0 4px;
        min-width: $line_grid * 3;
        height: $line_grid * 3;
    }

    &_expanded {
        padding: 0 4px;
        .btn__text {
            max-width: 0;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
            @include transition(max-width .4s ease-in-out, padding .4s ease-in-out);
        }

        &:hover {
            .btn__text {
                padding: 0 18px;
                max-width: 200px;
            }
        }

        &:after, &:before{
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    &_zoomed {
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            display: inline-block;
            @include position(absolute, 0 0 0 0);
            background-color: inherit;
            border-radius: inherit;
            z-index: -1;
            @include transition(scale, .2s ease-in-out)
        }

        &:hover {
            &:after{
                @include transform(scale(1.05));
            }
        }
    }

    &_active {
        background-color: $color_Secondary;
        color: $color_Primary;

        .icon-svg {
            fill: black;
        }
    }

    &_disabled {
        color: $color_Brown_light;

        path {
            fill: $color_Brown_light;
        }
    }

    @include media-breakpoint-down(sm){
        min-width: $line_grid * 2;
        font-size: 18px;

        &__icon {
            margin: 0 2px;
        }

        &_tight {
            height: $line_grid * 2;
        }

        &_expanded {
            .btn__text {
                max-width: 0 !important;
                padding: 0 !important;
            }
        }

        .icon-cross {
            margin: 0 6px;
        }
    }
}