/*Colors*/
$color_Text: #ffffff;
$color_Text_Secondary: #e4c291;
$color_Text_Gray: #555153;

$color_Primary: #141011;
$color_Secondary: #e4c291;
$color_Tertiary: #554a40;
$color_Brown_light:#7d6e5c;

$color_Black: #000;
$color_White: #fff;
$color_Gray: #272525;
$color_Gray_Darker: #1c1618;
$color_ProgressBar: #555153;

$color_Link: $color_Text;
$color_LinkHover: $color_Text;

$color_Selection: $color_Secondary;
$color_SelectionText: $color_Text;

$font_Primary: 'Futura', Arial, Helvetica, sans-serif;
$font_Secondary: 'HWT Artz', Arial, Helvetica, sans-serif;
$font_Quaternary: 'Futura-Condensed', Arial, Helvetica, sans-serif;

$font_Size: 24px;
$font_Size_xs: 12px;

$line_Height: 36px;
$line_Height_xs: 18px;

$line_grid: 18px;

$container_padding: (
        lg: 42px,
        md: 30px,
        sm: 20px
);

$sidebar_height: (
    sm: 14vh,
    xs: 90px
);