.header {
    height: 100%;
    @include z-index(header);

    &__wrap {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            height: 28px;
        }
    }
}