.content {
    margin: $line_grid*2 0;

    &:first-child {
        margin-top: 0;
    }

    @include media-breakpoint-down(sm){
        margin-bottom: $line_grid * 2;
    }

    a {
        color: $color_Text;

        &:hover {
            color: $color_Text_Secondary
        }

        &:focus {
            color: $color_Text;
            &:hover {
                color: $color_Text_Secondary;
            }
        }
    }
}