.art-info {
    display: flex;
    flex-flow: row nowrap;
    background-color: $color_Gray_Darker;
    padding: $line_grid 30px $line_grid*2;
    justify-content: space-between;

    &__description {
        display: flex;
        flex: 1 0 50%;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 18px;
    }

    &__interaction {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        text-align: right;
    }

    &__controls {
        margin-left: auto;
    }

    &__btn-wrap {
        display: flex;
        flex-flow: row wrap;
        margin-left: auto;
        margin-bottom: 2*$line_grid;

        .btn:not(:last-of-type){
            margin-right: 8px;
        }
    }

    &__btn-row {
        display: flex;
        position: relative;
        justify-content: flex-end;

        .btn:not(:last-of-type){
            margin-right: 8px;
        }
    }

    &__btn-choose {
        margin-right: 18px !important;
    }

    &__hint {
        font-size: 18px;
        position: absolute;
        text-align: left;
        a {
           color: $color_Text_Secondary;
            &:focus {
                color: $color_Text_Secondary;
                &:hover {
                    color: $color_Text_Secondary;
                }
            }
        }
    }

    &__title {
        display: inline-block;
        margin-right: 18px;
        margin-bottom: $line_grid;
    }

    &__vendors {
        font-family: $font_Primary;
        font-size: 18px;
        line-height: 1.2;
        z-index: 1;
        color: $color_Text;
    }

    &__vendor-link {
        color: $color_Text;

        &:hover {
            color: $color_Text_Secondary
        }

        &:focus {
            color: $color_Text;
            &:hover {
                color: $color_Text_Secondary;
            }
        }
    }

    @include media-breakpoint-down(sm){
        padding: $line_grid 20px;

        &__btn-choose {
            margin-right: 8px !important;
            padding: 0 6px;
        }

        &__hint {
            position: relative;
            font-size: 14px;
        }

        &__vendors {
            position: relative;
            right: 0;
            font-size: 12px;
            line-height: $line_grid *2;
            white-space: nowrap;
            overflow: hidden;
            color: $color_White;
        }

        &__title {
            display: block;
        }
    }

    @include media-breakpoint-down(xs){
        flex-direction: column;

        &__description {
            flex: 1 1 auto;
            margin-right: 0;
            margin-bottom: $line_grid;
        }

        &__controls {
            justify-content: space-between;
            margin: 0;
        }

        &__btn-left {
            order: 1;
        }

        &__btn-cross {
            order: 2;
        }

        &__btn-right {
            order: 3;
        }

        &__btn-wrap {
            justify-content: flex-start;
            margin: 0;
        }

        &__choose-wrapper {
            display: flex;
            margin-bottom: $line_grid;
        }

        &__title {
            display: inline-block;
            margin-bottom: 8px!important;
        }

    }
}