.art-panel {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;

    &__body {
        display: flex;
        position: relative;
        height: 100%;
        flex-flow: column nowrap;
        flex: 1;
        overflow: hidden;
    }

    &__footer {
        height: auto;
    }

    &__label {
        @include position(absolute, null null 0 0);
        font-family: $font_Primary;
        font-size: 16px;
        font-style: italic;
        line-height: 1.2;
        padding: $line_grid 30px;
        z-index: 1;
        color: $color_Text;

        &:before {
            content: "";
            @include position(absolute, 0 0 0 0);
            z-index: -1;
            background-color: $color_Gray_Darker;
            opacity: .7;
        }
    }

    &__beauty {
        @include position(absolute, 60px null null 0);
    }

    @include media-breakpoint-down(sm) {
        height: calc(100vh - #{map-get($sidebar_height, sm)}) !important;

        &__label {
            position: relative;
            right: 0;
            font-size: 12px;
            line-height: $line_grid *2;
            padding: 0 20px;
            white-space: nowrap;
            overflow: hidden;
            color: $color_Primary;

            &:before {
                opacity: 1;
                background-color: $color_Secondary;
            }
        }

    }

    @include media-breakpoint-down(xs) {
        height: calc(100vh - #{map-get($sidebar_height, xs)}) !important;

        &__footer {
            min-height: auto;
        }
    }
}