.awards-section {
    display: flex;
    margin-left: 25%;
    width: 75% !important;
    background-color: $color_Primary;
    z-index: 1;

    &_gallery {
        padding-top: 0;
    }

    &_choice {
        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 18px;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100% !important;
        height: 100% !important;
        padding-top: map-get($sidebar_height, sm);
        margin: 0;
    }

    @include media-breakpoint-down(xs) {
        padding-top: map-get($sidebar_height, xs);
    }
}