$class: 'banner';

.#{$class} {
    width: 100%;
    height: 100%;

    &__inner {
        display: inline-block;
        width: 100%;
        height: 100%;
        min-height: $line_grid*5;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &_across {
        height: 234px;
        margin-top: auto;
    }

    &_side {
        height: 100%;
        max-height: 200px;
    }

    video {
        width: 100%;
    }
}

.banners {
    .#{$class}:nth-child(even) {
        padding: 0 36px;
    }
}