$class: 'card-art';

.#{$class} {
    display: block;
    position: relative;
    background: {
        repeat: no-repeat;
        position: center center;
    };
    background-size: cover;

    &__inner, &__rectangles, &__chosen, &:before, &:after {
        visibility: hidden;
        opacity: 0;
        @include transition(opacity .3s ease-in-out, visibility .3s ease-in-out);
    }

    &__inner {
        padding: 30px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color_Gray;
        z-index: 0;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 10px solid $color_Secondary;
        z-index: 0;
    }

    &__rectangles {
        position: absolute;
        @include size(54px);
        bottom: 0;
        right: 0;
        background: $color_Secondary;
        opacity: 0;
        visibility: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 14px;
            right: 18px;
            @include size(18px);
            background: $color_Black;
            border-radius: 3px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: 24px;
            @include size(16px);
            border-bottom: 2px solid $color_Black;
            border-left: 2px solid $color_Black;
            border-bottom-left-radius: 3px;
        }
    }

    &__title {
        display: inline-block;
        margin-bottom: 20px;
        font-family: $font_Secondary;
        font-size: 36px;
        line-height: 40px;
    }

    &__subtitle {
        display: inline-block;
        font-family: $font_Primary;
        font-size: 18px;
        line-height: 1.2;
    }

    &__chosen {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        font-family: $font_Quaternary;
        font-size: 24px;
        color: $color_Text_Secondary;
        opacity: 0;
        visibility: hidden;
    }

    &__chosen-wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;

        &:before {
            content: "";
            display: block;
            margin: 0 auto;
            @include size(72px);
            background: {
                image: url("/pics/i/goblet.svg");
                repeat: no-repeat;
                size: cover;
                position: top;
            }
        }
    }

    &:hover {
        .#{$class}__inner, .#{$class}__rectangles, &:after {
            opacity: 1;
            visibility: visible;
        }

        &:before {
            opacity: 0.7;
            visibility: visible;
        }
    }

    &_active {
        .#{$class}__chosen {
            opacity: 1;
            visibility: visible;
        }

        &:before {
            opacity: 0.7;
            visibility: visible;
        }

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }

    &_active:hover {
        .#{$class}__chosen {
            opacity: 0;
            visibility: hidden;
        }
    }

    &_empty {
        background-color: $color_Primary;
        color: $color_Text_Gray;
        opacity: 0.25;
        font-family: $font_Secondary;
        font-size: 66px;
        line-height: 1;
        text-align: center;
        user-select: none;
        overflow: hidden;

        &:before, &:after {
            content: none;
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            font-size: 30px;
            line-height: 34px;
        }
        &__subtitle {
            display: none;
        }

        &_empty {
            font-size: 54px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__title {
            margin-bottom: 0;
        }

        &__inner {
            display: none;
        }

        &__rectangles {
            display: none;
        }

        &_empty {
            font-size: 48px;
        }
    }

    @include media-breakpoint-down(xs) {
        &__chosen {
            span {
                display: none;
            }
        }

        &__chosen-wrap{
            &:before {
                @include size(36px);
            }
        }

        &:after {
            border: 7px solid $color_Secondary;
        }

        &_empty {
            font-size: 24px;
        }
    }
}