.container-fluid {
    @each $breakpoint in map-keys($container_padding) {
        @include media-breakpoint-down($breakpoint) {
            padding-left: map-get($container_padding, $breakpoint);
            padding-right: map-get($container_padding, $breakpoint);
        }
    }
}
