.favorite {
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;

    &__icon {
        display: inline-block;
        @include position(absolute, 50% null null 50%);
        @include size(72px);
        margin-left: -36px;
        margin-top: -36px;
        background: url('/pics/i/goblet.svg') no-repeat bottom;
        background-size: cover;
        opacity: 0;
        transform: scale(0);

        &_animate {
            animation-timing-function: ease-in-out;
            animation-name: like-heart-animation;
            animation-duration: 1s;
        }
    }
    
    @include media-breakpoint-down(xs){
        &__icon {
            @include size(36px);
            margin-left: -18px;
            margin-top: -18px;
        }
    }
}

@keyframes like-heart-animation {
    0%,to{
        opacity:0; transform:scale(0)
    }
    15%{
        opacity:.8; transform:scale(1.5)
    }
    30%{
        transform:scale(1.1)
    }
    45%, 80%{
        opacity:.8;
        transform:scale(1.3)
    }
}
