.fullscreen-video {
    position: relative;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }

    &:after{
        content: '';
        @include position(absolute, 0 0 0 0);
        background: rgba(0,0,0,0.5);
    }
}