$class: 'gallery';

.#{$class} {
    display: flex;
    flex-flow: row wrap;
    height: auto;

    &__item{
        width: 20%;
        height: 25vh;
        margin: 0;
    }

    &_full-height {
        height: 100vh;
        .#{$class}__item {
            width: 20%;
            height: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
        height: 100%;
        &__item {
            width: 25%;
            max-height: calc((100vh - #{map-get($sidebar_height, sm)}) / 2);
            height: auto;
        }

        &_full-height {
            .#{$class}__item {
                width: 25%;
                height: auto;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        &__item {
            width: calc(100% / 3);
            max-height: calc((100vh - #{map-get($sidebar_height, xs)}) / 2);
        }

        &_full-height {
            .#{$class}__item {
                width: calc(100% / 3);
                height: auto;
            }
        }
    }
}