.gallery-slider {
    display: flex;
    height: 100%;

    &__main {
        position: relative !important;
        flex: 1 1 85%;
    }

    &__thumbs {
        position: relative !important;
        flex: 1 1 15%;

        cursor: pointer;


        .slider__wrapper {
            flex-direction: column;
        }

        // sorry bem, swiper's thumb class modifier doesn't work
        .swiper-slide-thumb-active {
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border: 5px solid $color_Secondary;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        &__main {
            flex: 1 1 75%;
        }

        &__thumbs {
            flex: 1 1 25%;
        }
    }
}