.icon-social {
    display: inline-block;
    background: url("/pics/i/social-icons.svg") no-repeat;
    
    &_fb {
        @include size(18px 20px);
        background-position: -44px 0;
    }

    &_twitter {
        @include size(18px 20px);
        background-position: -64px 0;
    }

    &_instagram {
        @include size(20px);
        background-position: -23px 0;
    }

    &_in {
        @include size(20px);
        background-position: -84px 0;
    }

    &_triangle {
        @include size(20px);
        background-position: 0 0;
    }
}