$class: 'icon';

.#{$class} {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;

    &_zoomed {
        @include transition(transform 0.2s ease-in-out);
        &:hover {
            @include transform(scale(1.2));
        }
    }

    &-fb {
        @include size(11px 19px);
        background: {
            image: url("/pics/i/icons-share.svg");
            position: 1px 0;
            repeat: no-repeat;
        }
        background-size: cover;

        &_bigger {
            @include size(12px 24px);
        }

        @include media-breakpoint-down(sm){
            &_bigger {
                @include size(11px 19px);
                background-position: 1px 0;;
            }
        }
    }

    &-twitter {
        @include size(18px 18px);
        background: {
            image: url("/pics/i/icons-share.svg");
            position: -10px -1px;
            repeat: no-repeat;
        }
        background-size: cover;

        &_bigger {
            @include size(24px 25px);
            background-position: -14px -1px;
        }

        @include media-breakpoint-down(sm){
            &_bigger {
                @include size(18px 18px);
                background-position: -10px -1px;;
            }
        }
    }

    &-linked {
        @include size(18px 18px);
        background: {
            image: url("/pics/i/icons-share.svg");
            position: -28px -1px;
            repeat: no-repeat;
        }
        background-size: cover;

        &_bigger {
            @include size(24px 25px);
            background-size: cover;
            background-position: -39px -2px;
        }

        @include media-breakpoint-down(sm){
            &_bigger {
                @include size(18px 18px);
                background-position: -28px -1px;;
            }
        }
    }

    &-user {
        @include size(16px 18px);
        background-image: url("/pics/i/user.svg");
    }

    &-logout {
        @include size(16px 18px);
        background-image: url("/pics/i/log-out.svg");
    }

    &-goblet {
        @include size(36px);
        @include media-breakpoint-down(sm){
            @include size(24px);
        }
    }

    &-left {
        @include size(33px 20px);
        background-image: url("/pics/i/arrow-left.svg");

        @include media-breakpoint-down(sm){
            @include size(24px 18px);
        }
    }

    &-right {
        @include size(33px 20px);
        background-image: url("/pics/i/arrow-right.svg");

        @include media-breakpoint-down(sm){
            @include size(24px 18px);
        }
    }

    &-cross {
        @include size(24px);
        background-image: url("/pics/i/cross.svg");

        @include media-breakpoint-down(sm){
            @include size(16px);
        }
    }
}