.modal {
    display: none;
    position: fixed;
    @include z-index(modal);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(20,16,17,0.9);
    color: $color_White;
    text-align: center;

    &__content {
        margin: 12% auto;
        padding: 20px;
        width: 70%;
        opacity: 1;
    }

    &__instruction-row {
        margin-bottom: $line_grid *2;
    }

    &__text {
        margin-bottom: $line_grid;
    }

    &__arrows-horizontal {
        height: 20px;
    }

    &__arrows-vertical {
        width: 20px;
    }

    &__double-circle {
        position: relative;
        display: inline-block;
        @include size(36px);
        background: $color_Secondary;
        border-radius: 100%;
        color: $color_Primary;
        font-size: 24px;
        line-height: 36px;

        &:before {
            content: '';
            @include position(absolute, -9px 0 0 -9px);
            display: inline-block;
            @include size(54px);
            border: 2px solid $color_Secondary;
            border-radius: 100%;
        }
    }

    &__btn {
        margin: 0 auto;
    }

    @include media-breakpoint-down(xs){
        &__content {
            padding: 0;
        }
        &__text {
            font-size: 18px;
        }
    }
}