$class: 'preloader';
.#{$class}{
    position: fixed;
    z-index: 1200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $color_Black;

    &__wrap {
        display: flex;
        height: 55px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &__empty-line {
        width: 200px;
        height: 2px;
        margin-top: 20px;
        background-color: #727272;
    }

    &__full-line {
        width: 0px;
        height: 2px;
        background-color: #fff;
    }

    &_active {
        .#{$class}__wrap {
            opacity: 1;
        }
    }
}