.progress-bar {
    display: flex;
    flex-flow: column;

    &__label {
        font-family: $font_Quaternary;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 4px;
    }

    &__bar {
        position: relative;
        width: 100%;
        padding-top: 9%;
        background-color: $color_ProgressBar;
        border-radius: 4px;

        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            opacity: 0;
            visibility: hidden;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        *:not(video){
            display: none !important;
        }
    }
}