.result-card {

    &__header {
        font-family: $font_Quaternary;
        font-size: 118px;
        line-height: 1;
        color: $color_Text_Secondary;
        margin: 0 0 $line_grid *2;

        sup {
            line-height: 0;
        }
    }

    &__image {
        height: 100%;
        max-height: 378px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__footer {
        font-size: 18px;
        line-height: 1;
    }

    &__title {
        margin: $line_grid *2 0;
        padding-right: 42px;
    }

    &__author {
        display: flex
    }

    @include media-breakpoint-down(md) {
        &__header {
            font-size: 90px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__header {
            font-size: 72px;
        }

        &__footer {
            padding: 20px;
        }

    }

    @include media-breakpoint-down(xs) {
        &__header {
            font-size: 36px;
            padding: 0 20px;
        }
    }
}