.results {
    display: flex;
    height: 100%;

    &__wrap {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 0 $line_grid;
    }
}