.ribbon {
    display: inline-block;
    position: relative;
    background-image: url("/pics/ribbon.png");
    background-repeat: no-repeat;
    width: 171px;
    height: 271px;
    font-family: $font_Secondary;
    font-size: 36px;
    color: $color_Primary;

    &:before {
        content: '80 level';
        font-family: $font_Secondary;

        @include position(absolute, 60px null null 30px);
        transform: rotate(30deg);
    }

    &__text {
        font-family: $font_Quaternary;
        @include position(absolute, 167px null null -4px);
        transform: rotate(-28deg);
        width: 170px;
        text-align: center;

        sup {
            line-height: 12px;
        }
    }

    &_gold {
    }

    &_silver {
        background-image: url("/pics/ribbon-silver.png");
    }

    &_bronze {
        background-image: url("/pics/ribbon-bronze.png");
    }
}