.scroll-tip {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
    font-family: $font_Quaternary;
    font-size: 18px;

    &:before {
        content: "";
        @include position(absolute, null null 0 50%);
        border-left: 1px solid $color_White;
        height: 80px;
    }
}