$class: 'sidebar';
.#{$class}{
    display: flex;
    width: 25%;
    top: 100vh;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    padding-top: 10vh;
    padding-bottom: 36px;

    @include z-index(sidebar);
    @include transition(top 1s, opacity 0.2s ease-in, height 0.2s);

    &__nav {
        position: relative;
        overflow: hidden;
        @include transition(all 1s);
    }

    &__progress-bar {
        width: 100%;
        position: relative;
        margin-top: $line_grid;
    }

    &_show {
        top: 0;
        opacity: 1;
        visibility: visible;

        .sidebar__nav{

        }
    }

    &_show-silent {
        @include transition(none);
    }

    @include media-breakpoint-down(md) {
        &__progress-bar {

        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: $line_grid*3;
        top: 0;
        padding: 0;
        background-color: $color_Primary;

        &__nav {
            overflow-x: auto;
            overflow-y: hidden;
            height: 100%;
            top: 0;
        }

        &_show {
            height: map-get($sidebar_height, sm);
        }
    }

    @include media-breakpoint-down(xs) {
        height: map-get($sidebar_height, xs);

        &__nav {
            overflow-x: scroll;
            overflow-y: hidden;
            height: 100%;
        }
    }
}

