.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background-color: $color_Primary;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        @include transition-property(transform);
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        @include transition-timing-function(ease-in-out);
    }

    &__slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        background: {
            size: cover;
            repeat: no-repeat;
            position: 50% 5%;
        }

        @include transition-property(transform);
    }
    &__parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }

    &__pagination {
        @include position(absolute, null null $line_grid 50%);
        text-align: center;
        overflow: hidden;
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        @include transform(translateX(-50%));
    }

    &__bullet {
        @include size(8px);
        vertical-align: middle;
        display: inline-block;
        border-radius: 100%;
        background: $color_White;
        transform: scale(0.33);
        position: relative;
        margin: 0 4px;
        @include transition(transform 0.3s, left 0.3s, background-color 0.3s);

        &_active {
            @include transform(scale(1));
        }

        &_active-prev, &_active-next {
            @include transform(scale(0.66));
        }
    }

    &__preloader {
        width: 42px;
        height: 42px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -21px;
        margin-top: -21px;
        z-index: 10;

        @include transform-origin(50%);
        animation: swiper-preloader-spin 1s steps(12,end) infinite;

        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            background-position: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    &_vertical {
        .slider__wrapper {
            flex-direction: column;
        }
    }

    &_horizontal {
        .slider__wrapper {
            flex-direction: row;
        }
    }

    &_fade .slider__slide {
        transition-timing-function: ease-in-out;
        pointer-events: none;
        transition-property: opacity;
    }

    &_fade .slider__slide_active {
        pointer-events: auto;
    }

    @include media-breakpoint-down(xs){
        &__pagination {
            opacity: 1;
            visibility: visible;
        }

        &__preloader {
           @include size(22px);
            margin-left: -11px;
            margin-top: -11px;
        }
    }
}

@keyframes swiper-preloader-spin {
    100% {
        @include transform(rotate(360deg));
    }
}
