.social-list {
    display: inline-block;
    flex: 0 0 auto;
    padding: 0;
    margin: 0 10px 0 0;
    list-style-type: none;
    font-size: 0;
    line-height: 0;

    &__item {
        display: inline-block;
        margin: 0 6px 0 0;
        font-size: 20px;
    }
}