.timer {
    font-family: $font_Quaternary;
    font-size: 48px;
    line-height: 54px;
    color: $color_Text_Secondary;
    &__clock{
        color: $color_Text
    }

    @include media-breakpoint-down(md) {
        font-size: 36px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 18px;
    }
}