.transform-effect {
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;

    &_left {
        animation-delay: .4s;
        animation-name: slide-left;
        transform: translateX(-100px);
        opacity: 0;
    }

    &_right {
        animation-delay: .2s;
        animation-name: slide-right;
        transform: translateX(100px);
        opacity: 0;
    }

    &_up {
        animation-name: slide-up;
        transform: translateX(100px);
        opacity: 0;
    }

    &_fadeIn {
        opacity: 0;
        animation-delay: .8s;
        animation-duration: .2s;
        animation-name: fade-in;
    }

    &_active {
        animation-play-state: running;
    }
}

@keyframes slide-left {
    from  { transform: translateX(-100px); opacity: 0}
    to { transform: translateX(0); opacity: .2}
}

@keyframes slide-right {
    from   { transform: translateX(100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1}
}

@keyframes slide-up {
    from   { transform: translateY(100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1}
}

@keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1}
}