.video-container {
    position: relative;
    padding-top: 56.24%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        width: auto;
    }

    @include media-breakpoint-down(xs){
        min-height: 0;
    }
}