.welcome-section {

    &__content {
        @include position(absolute, 0 0 0 0);
    }

    &__text-faded {
        position: absolute;
        top: 10vh;
        font-family: $font_Secondary;
        color: $color_Text_Secondary;
        white-space: nowrap;
        font-size: 180px;
        line-height: 1;
        opacity: 0.2;

        transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
    }

    &__text {
        position: absolute;
        top: calc(10vh + 90px);;
        width: 50%;
        padding-left: 106px;
    };

    &__title {
        font-size: 128px;
        color: $color_Text_Secondary;
        white-space: nowrap;
    }

    &__subtitle {
        margin: 110px 0;
        white-space: pre-line;
    }

    &__cover-rights {
        position: absolute;
        text-align: right;
        z-index: 1;
        bottom: 80px;
        right: 42px;
        font-family: $font_Quaternary;
        font-size: 18px;

        a {
            color: $color_Text_Secondary;
            &:focus {
                color: $color_Text_Secondary;
                &:hover {
                    color: $color_Text_Secondary;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__text-faded {
            font-size: 128px;
        }

        &__title {
            font-size: 90px;
        }

        &__text {
            padding-left: 60px;
            top: calc(10vh + 60px);
        }

        &__cover-rights {
            right: 30px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__text {
            width: 80%;
        }

        &__subtitle {
            margin: 84px 0;
        }

        &__cover-rights {
            right: unset;
            padding-left: 60px;
        }

    }

    @include media-breakpoint-down(xs) {
        &__text-faded {
            font-size: 54px;
        }

        &__title {
            padding-right: 50px;
            white-space: normal;
            font-size: 54px;
        }

        &__text {
            position: relative;
            width: 100%;
            padding-left: 24px;
            top: calc(10vh + 24px);
        }

        &__subtitle {
            margin: 24px 0;
            white-space: unset;
        }

        &__cover-rights {
            right: unset;
            padding-left: 24px;
            bottom: 18px;
        }
    }

}