@include font-face('Futura', '/fonts/FuturaMediumC', 400, normal, $file-formats: woff ttf eot);
@include font-face('Futura', '/fonts/Futura-Bold', 700, normal, $file-formats: woff ttf eot);
@include font-face('Futura', '/fonts/Futura-MediumItalic', 400, italic, $file-formats: woff ttf eot);

@include font-face('Futura-Condensed', '/fonts/Futura-CondensedMedium', 400, normal, $file-formats: woff ttf eot);
@include font-face('Futura-Condensed', '/fonts/Futura-CondensedExtraBold', 700, normal, $file-formats: woff ttf eot);

@include font-face('HWT Artz', '/fonts/HWTArtz', 400, normal, $file-formats: woff ttf eot);