html, body {
    height: 100%;
}

html {
    font-family: sans-serif;
    line-height: $line_Height;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

body {
    font-family: $font_Primary;
    font-size: $font_Size;
    font-weight: 400;
    line-height: $line_Height;
    background-color: $color_Primary;
    color: $color_Text;
}

a {
    color: $color_Link;
    text-decoration: none;
    @include transition(color, 0.2s);

    &:hover {
        color: $color_LinkHover;
        text-decoration: none;
    }

    &:focus {
        color: $color_Link;
        outline: none;
        text-decoration: none;

        &:hover {
            color: $color_LinkHover;
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: $line_grid*3 0;
}

h1 {
    font-family: $font_Secondary;
    font-size: 128px;
    line-height: 1.2;
    color: $color_Text_Secondary;
}

h2 {
    font-family: $font_Primary;
    font-size: 54px;
    line-height: 1.2;
}

h3 {
    font-family: $font_Secondary;
    font-size: 72px;
    line-height: 1;
    color: $color_Text_Secondary;
}

h4 {
    font-family: $font_Secondary;
    font-size: 48px;
    line-height: 1;
    margin: $line_grid*2 0;
}

h5 {
}

h6 {
}

ul, ol {
    margin: $line_grid*2 0;
    padding: 0 0 0 $line_grid;

    li {
        margin-bottom: $line_grid;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

ul {
    li {
    }
}

ol {
    li {
    }
}

nav {
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;

            &:before {
                display: none;
            }
        }
    }
}

table {
    width: 100%;
    margin: $line_grid*2 0;

    caption {
    }
    tr{

    }
    td {
    }
    th {
    }
}

p {
    margin: $line_grid*2 0;
}


b {
    color: $color_Text_Secondary;
    font-weight: 700;;
}
blockquote {
    margin: $line_grid*2 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: $line_grid*2 0;
    padding: 0;
}

img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
}

button {
    display: inline-block;
    background: none;
    box-shadow: none;
    font-size: $font_Size;
    border: none;
    padding: 0;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}
::-moz-selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

::selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, table, p, hr, blockquote {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(md) {
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 36px;
    }
}

@include media-breakpoint-down(sm) {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        margin: $line_grid*2 0;
    }
}


@include media-breakpoint-down(xs) {
    body {
        font-size: $font_Size_xs;
        line-height: $line_Height_xs;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: $line_grid 0;
    }

    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        margin: $line_grid 0;
    }
}